/*----------------------*/
/* MAIN COMPONENTS */
/*----------------------*/

* {
    margin: 0;
    padding: 0;
}

/* BODY */

.body {
    background-image: url(../Images/BackgroundImg/game.png);
    height: 100vh;
    background-repeat: no-repeat;
    text-align: center;
}

.row {
    padding-top: 20px;
    text-align: center;
}

.col-4 {
    text-align: center;
}

/*----------------------*/
/* PLAYERS */
/*----------------------*/

#players {
    /*background-color: #272727;*/
}

.scores {
    padding-top: 300px;
    color: #fff;
    font-size: 40px;
}

.playerName1,
.playerName2 {
    color: #fff;
}

#currentScore {
    cursor: context-menu;
}

.cp {
    color: #ff0000;
}

.winner {
    display: none;
    padding-top: 200px;
}

.heading {
    color: #ff0000;
    margin-bottom: 10px;
}

#newGame {
    margin-bottom: 5px;
}

/*----------------------*/
/* IMAGES */
/*----------------------*/

.dice {
    width: 15vh;
    margin-left: 137px;
}

#dice1 {
    padding-top: 80px;
    padding-bottom: 10px;
}

#dice2 {
    text-align: center;
}

/*----------------------*/
/* BUTTONS */
/*----------------------*/

.text {
    font-size: 20px;
    color: #fff;
}

.end {
    margin-top: 0;
    font-size: 20px;
    color: #fff;
}

#btn-quit {
    margin-top: 150px;
    margin-left: 400px;
}

#btn-roll {
    margin-top: 20px;
}

#btn-hold {
    
    /*margin-left: 137px;*/
    text-align: center;
}


/**/
#dis{
    display: none;
}
