/*----------------------*/
/* MAIN COMPONENTS */
/*----------------------*/

* {
    margin: 0;
    padding: 0;
}

/*----------------------*/
/* HEADINGS */
/*----------------------*/

h3 {
    text-align: center;
    font-family: 'Cantarell', sans-serif;
}

/*----------------------*/
/* RULES */
/*----------------------*/

.rules {
    
    background-image: url(../Images/BackgroundImg/rules3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 92vh;
    padding-top: 120px;
    padding-left: 15px;
    text-align: center;
}

.para {
    padding-bottom: 7px;
    color: rgb(0, 0, 0);
}
