/*----------------------*/
/* MAIN COMPONENTS */
/*----------------------*/


* {
    margin: 0;
    padding: 0;
}

/*----------------------*/
/* HEADINGS */
/*----------------------*/

h1 {
    font-family: 'Cantarell', sans-serif;
    text-align: center;
}

/*----------------------*/
/* BUTTONS */
/*----------------------*/

.starter {
    background-image: url(../Images/BackgroundImg/start3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 87vh;
    text-align: center;
    font-size: 22px;
    padding-top: 250px;
}

#rules {
    margin-left: 20px;
}
